/* body */
body {
    font-family: Nunito, sans-serif;
    background: #e7bcf5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90hw;
}

/* container */
.container {
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    
    /* Medium screens: small laptops (1024px - 1366px) */
    @media screen and (min-width: 1024px) {
        margin: 40px;
    }
    
    /* Large screens: desktops & large monitors (1367px - 1920px) */
    @media screen and (min-width: 1367px) {
        margin: 60px;
    }
    
    /* Extra large screens: 4K monitors (1921px and above) */
    @media screen and (min-width: 1921px) {
        margin: 80px;
    }
}


/* bio content */
.bio-content {
    display: flex;
    justify-content: space-between;
    background-color: #dd91d1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;

    /* bio text */
    .bio-text {
        width: 100%;
        padding-right: 20px;
    }

    .bio-text h1 {
        font-size: 60px;
        color: #050505;
        margin: 0 auto;
    }

    .bio-text p {
        font-size: 23px;
        color: #100f0f;
        margin-top: 20px;
    }

    /* Contact Info */
    .contact-info {
        display: flex;
        /* Ensures all icons are in one row */
        align-items: center;
        /* Aligns icons vertically */
        justify-content: start;
        /* Aligns icons to the left */
        gap: 30px;
        /* Adds space between icons */
        margin-top: 50px;
    }

    .linkedln-icon {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        color: #020202;
        transition: transform 0.2s ease-in-out;
    }

    .github-icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
        color: #020202;
        transition: transform 0.2s ease-in-out;
    }

    .gmail-icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        color: #171515;
        vertical-align: middle;
        transition: transform 0.2s ease-in-out;
    }

    .icon:hover {
        transform: scale(1.2);
    }

    /* Gmail Tooltip */
    .gmail-btn {
        position: relative;
        font-size: 25px;
        cursor: pointer;
        color: #3a2d27;
        transition: transform 0.2s ease-in-out;
    }

    .gmail-btn:hover {
        transform: scale(1.2);
    }

    .email-tooltip {
        visibility: hidden;
        background-color: #3a2d27;
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 14px;
    }

    .gmail-btn:hover .email-tooltip {
        visibility: visible;
    }
}


/* profile photo */
.photo img {
    max-width: 300px;
    border-radius: 40px;
}

/* welcome-message styling */
.welcome-message {
    top: 40px;
    left: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #f4f4baf5;
    font-style: italic;
    z-index: 1000;
    /* Ensures it's above other elements */
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInSlide 1s ease-out forwards;
    text-align: left;
}

.welcome-message::after {
    content: " ☕️";
    font-size: 1.2em;
}

/* Animation for welcome-message */
@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* wave styling */
.wave {
    font-size: 3rem;
    display: inline-block;
    animation: wave 1.5s infinite;
}

/* Animations for wave */
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    /* Move forward */
    40% {
        transform: rotate(-5deg);
    }

    /* Slight back motion */
    60% {
        transform: rotate(10deg);
    }

    /* Forward again */
    80% {
        transform: rotate(-2deg);
    }

    /* Small backward move */
    100% {
        transform: rotate(0deg);
    }
